@import '../../main.scss';
main {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
    margin-top: 10px;
}

app-square {
    color: $white;
    border: 1px solid white;
    height: 100px;
    background: linear-gradient(to bottom, lighten($primary, 20), lighten($primary, 10));
    &:hover {
        cursor: pointer;
        background: linear-gradient(to bottom, lighten($primary, 30), lighten($primary, 20));
    }
}

button {
    background-color: $primary;
    /* Green */
    border: none;
    color: $white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    &:hover {
        background-color: $white;
        color: $primary;
    }
}